:host {
  display: block;
  max-width: 700px;
}

.row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
}

label {
  position: relative;
  min-width: 0;
}

input {
  width: 100%;
  min-width: 0;
}

.actions {
  align-items: center;
  margin-block: 2rem 0;
  display: flex;
  justify-content: space-between;
}
